<!DOCTYPE html>
<html>
  <head>
    <title>Location</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      
      function initMap() {
          var option = {
              zoom:12,
              center: {lat: 10.8779949, lng: 77.020053},
          }
var map =  new google.maps.Map(document.getElementById('map'),option)
       var marker = [{
           coords:{lat: 10.8779949, lng: 77.020053}
       }]

       for(var i=9;i<marker.length;i++){
           addMarker(marker[i])
       }
       addMarker({
        coords:{lat: 10.8779949, lng: 77.020053}
       })
       function addMarker(props){
           var markers = new google.maps.Marker({
               position:props.coords,
               map:map
           })
           if(props.iconImage){
               markers.setIcon(props.iconImage)
           }
           if(props.content){
               var infoWindow = new google.maps.infoWindow({
                   content:props.content
               });
               markers.addListener('click',function(){
                   infoWindow.open(map,markers);
               })
           }
       }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA4_rgosgXaRPjP-QP7EQlmIsxCNSC16c&callback=initMap"
    async defer></script>
  </body>
</html>